<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  My app
  <app-paragraph-wrap>
    <span paragraphContent>
      This is my new paragraph.
    </span>
  </app-paragraph-wrap>
  <app-paragraph-wrap>
    <span paragraphContent>
      This is my new paragraph.
    </span>
  </app-paragraph-wrap>
  <app-paragraph-wrap>
    <span paragraphContent>
      This is my new paragraph.
    </span>
  </app-paragraph-wrap>
</body>
</html>